@media (min-width: 1024px) and (max-width: 8000px) {

    .characteristics__list {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;

    }

    .characteristics__list-mark {
        padding-left: 10px;   
        font-weight: 500;
        font-size: 16px;
        gap: 10px;
    }

    ul {
        padding: 0px;
        margin: 0;
    }

    li {
        list-style-type: none;
        margin-top: 10px;
    }

    li::before {
        content: "●";
        width: 10px;
        height: 10px;
        color: #888888;
        order: 0;
        gap: 10px;
    }

    .mark-wrap {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 1024px) {

    .characteristics__list {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .characteristics__list-mark {
        padding-left: 10px;   
        font-weight: 500;
        font-size: 14px;
        gap: 10px;
    }

    ul {
        padding: 0px;
        margin: 0;
    }

    li {
        list-style-type: none;
        margin-top: 10px;
    }

    li::before {
        content: "●";
        width: 10px;
        height: 10px;
        color: #888888;
        order: 0;
        gap: 10px;
    }

    .mark-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 323px;
    }
}