@media (min-width: 1500px) and (max-width: 8000px) {

    .important__button {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 10px;
        width: 380px;
        height: 64px;
        background: #F36223;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        order: 2;
    }
        
    .important__button:hover {
        background: #DA4A0C;
    }

    .important__button:active {
        background: #A93A09;
    }

    .inactive-button {
        background-color: #888888;
    }

    .inactive-button:hover {
        background-color: #888888;
    }

    .inactive-button:active {
        background-color: #888888;
    }

    .important__button-text::before {
        align-items: center;
        width: 24px;
        height: 24px;
        content: url(../../../../../public/cartButtonVector.svg);
        padding-right: 17px; 
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .important__button {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 10px;
        width: 320px;
        height: 64px;
        background: #F36223;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        order: 3;
    }
        
    .important__button:hover {
        background: #DA4A0C;
    }

    .important__button:active {
        background: #A93A09;
    }

    .inactive-button {
        background-color: #888888;
    }

    .inactive-button:hover {
        background-color: #888888;
    }

    .inactive-button:active {
        background-color: #888888;
    }

    .important__button-text::before {
        align-items: center;
        width: 24px;
        height: 24px;
        content: url(../../../../../public/cartButtonVector.svg);
        padding-right: 17px; 
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .important__button {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 10px;
        width: 298px;
        height: 54px;
        background: #F36223;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        order: 3;
    }
        
    .important__button:hover {
        background: #DA4A0C;
    }

    .important__button:active {
        background: #A93A09;
    }

    .inactive-button {
        background-color: #888888;
    }

    .inactive-button:hover {
        background-color: #888888;
    }

    .inactive-button:active {
        background-color: #888888;
    }

    .important__button-text::before {
        align-items: center;
        width: 24px;
        height: 24px;
        content: url(../../../../../public/cartButtonVector.svg);
        padding-right: 17px; 
    }
}