@media (min-width: 1500px) and (max-width: 8000px) {

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: 400px;
        font-size: 16px;
        line-height: 19px;
        gap: 20px;
        width: 1500px;
        height: 1365px;
        margin: auto;
        top: 119px;
    }

    .main-text{
        width: 453px;
        height: 57px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: 400px;
        font-size: 16px;
        line-height: 19px;
        gap: 20px;
        width: 1024px;
        height: 1365px;
        margin: auto;
        top: 119px;
    }

    .main-text{
        width: 453px;
        height: 57px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: 400px;
        font-size: 14px;
        line-height: 16.94px;
        gap: 20px;
        width: 360px;
        height: 1365px;
        margin: auto;
        top: 119px;
    }

    .main-text{
        width: 340px;
        height: 57px;
    }
}