@media (min-width: 1500px) and (max-width: 8000px) {

    .container {
        background: #F2F2F2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px; 
        order: 4;
        width: 100%;
        margin: auto;
        position: absolute;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 111px;
        padding-left: 50px;
        padding-right: 50px;
        width: 1400px;
        margin: auto;
        align-self: stretch;
    }
    
    .copyright {
        
        height: 51px;
        font-size: 14px;
        line-height: 17px;
        flex: none;
        order: 0;
    }
    
    .uplink {
        height: 19px;
        font-weight: 400;
        order: 1;
    }

    .orangeText {
        color: #f52;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .container {
        background: #F2F2F2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px; 
        order: 4;
        width: 100%;
        margin: auto;
        position: absolute;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 111px;
        width: 994px;
        margin: auto;
        align-self: stretch;
    }
    
    .copyright {
        height: 51px;
        font-size: 14px;
        line-height: 17px;
        flex: none;
        order: 0;
    }
    
    .uplink {
        height: 19px;
        font-weight: 400;
        order: 1;
    }

    .orangeText {
        color: #f52;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .container {
        background: #F2F2F2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px; 
        order: 4;
        width: 100%;
        margin: auto;
        position: absolute;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:  space-around;
        height: 164px;
        width: 340px;
        margin: auto;
        align-self: stretch;
        gap:20px;
    }
    
    .copyright {
        height: 51px;
        font-size: 14px;
        line-height: 17px;
        flex: none;
        order: 0;
    }
    
    .uplink {
        height: 19px;
        font-weight: 400;
        order: 1;
    }

    .orangeText {
        color: #f52;
    }
}