@media (min-width: 1500px) and (max-width: 8000px) {

    .container-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        gap: 25px;
        width: 1398px;
    }
    
    .reviewheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 880px;
        height: 39px;
        order: 0;
        align-self: stretch;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        flex-grow: 0;
    }
    
    .reviewheader__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 155px;
        height: 29px;
        order: 0;
        flex-grow: 0;
    }
    
    .reviewheader__text1 {
        order: 0;
    }
    
    .reviewheader__textcount {
        color: #888888;
        order: 1;
    }
        
    .reviewlist {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        order: 1;
    }
  
    .line-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 880px;
        height: 1px;
        flex: none;
        flex-grow: 0;
        order: 1;
    }

    .linebetween {
        align-items: flex-start;
        margin-left: 170px;
        width: 710px;
        border: 1px dashed #888888;
    
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .container-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        gap: 25px;
        padding-top: 40px;
        width: 994px;
    }
    
    .reviewheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 594px;
        height: 39px;
        order: 0;
        align-self: stretch;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        flex-grow: 0;
    }
    
    .reviewheader__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 155px;
        height: 29px;
        order: 0;
        flex-grow: 0;
    }
    
    .reviewheader__text1 {
        order: 0;
    }
    
    .reviewheader__textcount {
        color: #888888;
        order: 1;
    }
        
    .reviewlist {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        order: 1;
    }
  
    .line-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 130px;
        width: 464px;
        height: 1px;
        flex: none;
        flex-grow: 0;
        order: 1;
    }

    .linebetween {
        align-items: flex-start;
        width: 464px;
        border: 1px dashed #888888;
    
    }

}

@media (min-width: 360px) and (max-width: 1023px) {

    .container-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        gap: 25px;
        padding-top: 20px;
        width: 335px;
    }
    
    .reviewheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: 39px;
        order: 0;
        align-self: stretch;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        flex-grow: 0;
    }
    
    .reviewheader__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 155px;
        height: 29px;
        order: 0;
        flex-grow: 0;
    }
    
    .reviewheader__text1 {
        order: 0;
    }
    
    .reviewheader__textcount {
        color: #888888;
        order: 1;
    }
        
    .reviewlist {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        order: 1;
    }
  
    .line-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 335px;
        height: 1px;
        flex: none;
        flex-grow: 0;
        order: 1;
    }

    .linebetween {
        align-items: flex-start;
        width: 335px;
        border: 1px dashed #888888;
    
    }

}