@media (min-width: 1024px) and (max-width: 8000px) {

    .memory{
        order: 1;
    }

    .memory__title{
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .memory__choose {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 298px;
        top: 178px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .memory{
        order: 1;
        padding-top: 25px;
    }

    .memory__title{
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }

    .memory__choose {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 298px;
        top: 178px;
    }
}