@media (min-width: 1500px) and (max-width: 8000px) {

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: fixed; 
        top: 0;
        height: 80px;
        background: white;
        width: 100%;
        gap: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        width: 1400px;
        justify-content: space-between;
        position: sticky;
        background-color: white;
        margin:auto;
        gap: 10px;
        order: 0;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        text-decoration-line: none;
        order: 0;
    }

    .orangeText {
        color: #f52;
    }

    .header__logoicon{
        width: 33.11px;
        height: 52px;
        padding-right:6px;
        order: 0;
    }


    .header__title {
        font-weight: 700;
        flex: none;
        width: 263px;
        height: 50px;
        font-size: 44px;
        line-height: 53px;
        order: 1;
    }

    .header__icons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
        width: 120px;
        order: 1;
    }

    .nolink {
        text-decoration-line: none; 
        color: black;       
    }
}


@media (min-width: 1024px) and (max-width: 1499px) {

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: fixed; 
        top: 0;
        height: 80px;
        background: white;
        width: 100%;
        gap: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        width: 1024px;
        justify-content: space-between;
        position: sticky;
        background-color: white;
        margin:auto;
        gap: 10px;
        order: 0;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        text-decoration-line: none;
        order: 0;
    }

    .orangeText {
        color: #f52;
    }

    .header__logoicon{
        width: 33.11px;
        height: 50px;
        padding-right:6px;
        order: 0;
    }

    .header__title {
        font-weight: 700;
        flex: none;
        width: 263px;
        height: 53px;
        font-size: 44px;
        line-height: 53px;
        order: 1;
    }

    .header__icons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
        width: 120px;
        order: 1;
    }

    .nolink {
        text-decoration-line: none; 
        color: black;       
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: fixed; 
        top: 0;
        height: 55px;
        background: white;
        width: 100%;
        gap: 10px;
        padding: 8px 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 350px;
        height: 55px;
        justify-content: space-between;
        position: sticky;
        background-color: white;
        margin:auto;
        gap: 10px;
        order: 0;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        text-decoration-line: none;
        order: 0;
    }

    .orangeText {
        color: #f52;
    }

    .header__logoicon{
        width: 23.76px;
        height: 39px;
        padding-right:6px;
        order: 0;
    }


    .header__title {
        font-weight: 700;
        flex: none;
        width: 192px;
        height: 39px;
        font-size: 32px;
        line-height: 39px;
        order: 1;
    }

    .header__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 5px;
        width: 70px;
        order: 1;
    }

    .nolink {
        text-decoration-line: none; 
        color: black;       
    }
} 