@media (min-width: 1500px) and (max-width: 8000px) {

    .new-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 150px;
        margin-bottom: 100px;
        gap: 15px;
        width: 880px;
        height: 372px;
        left: 50px;
        order:2;
    }

    .new-review__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        order: 0;
    }

    .new-review__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        padding: 0px;
        gap: 30px;
        width: 710px;
        height: 338px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .new-review__name-input{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 495px;
        height: 49px;
        color: black;
        border: 1px solid #888888;
        order: 0;
        flex-grow: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .new-review__rating-input {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 175px;
        height: 49px;
        color: black;
        border: 1px solid #888888;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        order: 1;
    }

    .new-review__inputs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        width: 710px;
        height: 49px;
        flex: none;
        order: 0;
        align-self: stretch;
    }

    .new-review__textarea{
        width: 710px;
        height: 190px;
        color: black;
        order: 1;
        align-self: stretch;
    }

    .new-review__text-message {
        resize: none;
        box-sizing: border-box;
        padding: 15px 20px;
        width: 710px;
        height: 190px;
        border: 1px solid #888888;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    fieldset {
        border: none;
    }

    .reviewbutton {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 20px;
        gap: 10px;
        width: 177px;
        height: 39px;
        background: #F36223;
        border-radius: 4px;
        order: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        border: none;
    }

    .reviewbutton:hover {
        background: #DA4A0C;
        border-radius: 4px;
    }

    .reviewbutton:active {
        background: #A93A09;
        border-radius: 4px;
    }

    .showinputErrors  {
        padding: 8px 20px;
        background: #DA4A0C;
        width: 495px;
        font-size: 12px;
        line-height: 18px;
        visibility: hidden;
        position: relative;
        font-weight: 500;
        font-size: 12px;
        z-index: 100;
    }

    .hideinputErrors  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 20px;
        gap: 10px;
        color: #FFFFFF;
        background: #DA4A0C;
        flex: none;
        order: 1;
        flex-grow: 0;
        position: relative;
        z-index: 100;
        font-weight: 500;
        font-size: 12px;
    }

    .new-review__name-input:hover, .new-review__rating-input:hover, .new-review__name-input:active, .new-review__rating-input:active, .new-review__text-message:hover, .new-review__text-message:active{
        border: 1px solid #000000;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .new-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 100px;
        width: 880px;
        height: 372px;
        left: 50px;
        order:2;
    }

    .new-review__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        order: 0;
    }

    .new-review__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        padding: 0px;
        gap: 30px;
        width: 710px;
        height: 338px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .new-review__name-input{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 495px;
        height: 49px;
        color: black;
        border: 1px solid #888888;
        order: 0;
        flex-grow: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .new-review__rating-input {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 175px;
        height: 49px;
        color: black;
        border: 1px solid #888888;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        order: 1;
    }

    .new-review__inputs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        width: 710px;
        height: 49px;
        flex: none;
        order: 0;
        align-self: stretch;
    }

    .new-review__textarea{
        width: 710px;
        height: 190px;
        color: black;
        order: 1;
        align-self: stretch;
    }

    .new-review__text-message {
        resize: none;
        box-sizing: border-box;
        padding: 15px 20px;
        width: 710px;
        height: 190px;
        border: 1px solid #888888;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    fieldset {
        border: none;
    }

    .reviewbutton {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 20px;
        gap: 10px;
        width: 177px;
        height: 39px;
        background: #F36223;
        border-radius: 4px;
        order: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        border: none;
    }

    .reviewbutton:hover {
        background: #DA4A0C;
        border-radius: 4px;
    }

    .reviewbutton:active {
        background: #A93A09;
        border-radius: 4px;
    }

    .showinputErrors  {
        padding: 8px 20px;
        background: #DA4A0C;
        width: 495px;
        font-size: 12px;
        line-height: 18px;
        visibility: hidden;
        position: relative;
        font-weight: 500;
        font-size: 12px;
        z-index: 100;
    }

    .hideinputErrors  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 20px;
        gap: 10px;
        color: #FFFFFF;
        background: #DA4A0C;
        flex: none;
        order: 1;
        flex-grow: 0;
        position: relative;
        z-index: 100;
        font-weight: 500;
        font-size: 12px;
    }

    .new-review__name-input:hover, .new-review__rating-input:hover, .new-review__name-input:active, .new-review__rating-input:active, .new-review__text-message:hover, .new-review__text-message:active{
        border: 1px solid #000000;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .new-review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 70px;
        width: 335px;
        order:2;
    }

    .new-review__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        order: 0;
    }

    .new-review__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        flex: none;
        order: 1;
        align-self: stretch;
    }

    .new-review__name-input{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 335px;
        height: 37px;
        color: black;
        border: 1px solid #888888;
        order: 0;
        flex-grow: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .new-review__rating-input {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
        width: 335px;
        height: 37px;
        color: black;
        border: 1px solid #888888;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        order: 1;
    }

    .new-review__inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 335px;
        gap: 15px;
        flex: none;
        order: 0;
        padding-bottom: 15px;
        align-self: stretch;
    }

    .new-review__textarea{
        color: black;
        order: 1;
        align-self: stretch;
        padding-bottom: 15px;
    }

    .new-review__text-message {
        resize: none;
        box-sizing: border-box;
        padding: 15px 20px;
        width: 335px;
        gap: 10px;
        height: 190px;
        border: 1px solid #888888;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    fieldset {
        border: none;
        padding: 0px;
    }

    .reviewbutton {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 15px;
        gap: 10px;
        width: 150px;
        height: 37px;
        background: #F36223;
        border-radius: 4px;
        order: 1;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        border: none;
    }

    .reviewbutton:hover {
        background: #DA4A0C;
        border-radius: 4px;
    }

    .reviewbutton:active {
        background: #A93A09;
        border-radius: 4px;
    }

    .showinputErrors  {
        padding: 8px 20px;
        background: #DA4A0C;
        width: 495px;
        font-size: 12px;
        line-height: 18px;
        visibility: hidden;
        position: relative;
        font-weight: 500;
        font-size: 12px;
        z-index: 100;
    }

    .hideinputErrors  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 20px;
        color: #FFFFFF;
        background: #DA4A0C;
        order: 1;
        position: relative;
        font-weight: 500;
        font-size: 12px;
    }

    .new-review__name-input:hover, .new-review__rating-input:hover, .new-review__name-input:active, .new-review__rating-input:active, .new-review__text-message:hover, .new-review__text-message:active{
        border: 1px solid #000000;
    }


}