@media (min-width: 1500px) and (max-width: 8000px) {
   
    .sidebar {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 420px;
        height: 957px;
        order: 1;
    }

    .important {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        order: 0;
        font-weight: 500;
        font-size: 16px;
    }
    
    .important__price-row{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        height: 73px;
        width: 380px;
        flex: none;
        order: 0;
    }
    
    .important__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 132px;
        height: 73px;
        flex: none;
        order: 0;
    }
    
    .important__price-old{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 16px;
        color: #888888;
    }
    
    .important__price-sale {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 47px;
        height: 24px;
        background: #F36223;
        border-radius: 500px;
        color: #FFFFFF;
    }
    
    .important__price-new {
        font-family: 'Inter';
        font-size: 32px;
    }
    
    .important__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 380px;
        height: 68px;
        font-weight: 400;
        order: 1;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
   
    .sidebar {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 360px;
        height: 957px;
        order: 1;
    }

    .important {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: 313px;
        gap: 15px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        order: 0;
        font-weight: 500;
        font-size: 16px;
    }
    
    .important__price-row{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        height: 73px;
        width: 320px;
        flex: none;
        order: 0;

    }
    
    .important__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 132px;
        height: 73px;
        flex: none;
        order: 0;
    }
    
    .important__price-old{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 16px;
        color: #888888;
    }
    
    .important__price-sale {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 47px;
        height: 24px;
        background: #F36223;
        border-radius: 500px;
        color: #FFFFFF;
    }
    
    .important__price-new {
        font-family: 'Inter';
        font-size: 32px;
    }
    
    .important__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 320px;
        height: 78px;
        font-weight: 400;
        order: 1;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
   
    .sidebar {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 338px;
        height: 275px;
        order: 0;
    }

    .important {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: 313px;
        gap: 15px;
        width: 338px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        order: 0;
        font-weight: 500;
        font-size: 16px;
    }
    
    .important__price-row{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        height: 73px;
        width: 298px;
        flex: none;
        order: 0;

    }
    
    .important__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 132px;
        height: 73px;
        flex: none;
        order: 0;
    }
    
    .important__price-old{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 16px;
        color: #888888;
    }
    
    .important__price-sale {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 47px;
        height: 24px;
        background: #F36223;
        border-radius: 500px;
        color: #FFFFFF;
    }
    
    .important__price-new {
        font-family: 'Inter';
        font-size: 32px;
    }
    
    .important__delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 298px;
        height: 78px;
        font-size: 14px;
        font-weight: 400;
        order: 1;
    }
}
