@media (min-width: 1500px) and (max-width: 8000px) {

    .characteristics-container {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        gap: 100px;
        width: 1389px;
    }
    
    .characteristics-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        width: 880px;
        order: 0;
    }
    
    .characteristics {
        order: 2;
    }
    
    .characteristics__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    
    .description {
        order: 3;
        align-self: stretch;
        font-size: 16px;
    }
    
    .description__title {
        font-weight: 700;
        padding-bottom: 15px;
    }
    
    .description__paragrapf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        top: 509px;
        font-weight: 500;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .characteristics-container {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        gap: 100px;
        width: 594px;
    }
        
    .characteristics-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        width: 880px;
        order: 0;
    }
        
    .characteristics {
        order: 2;
    }
        
    .characteristics__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
        
    .description {
        order: 3;
        align-self: stretch;
        font-size: 16px;
    }
        
    .description__title {
        font-weight: 700;
        padding-bottom: 15px;
    }
        
    .description__paragrapf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        top: 509px;
        font-weight: 500;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .characteristics-container {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        gap: 10px;
        width: 338px;
        height: 1435px;
    }
        
    .characteristics-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        width: 338px;
        order: 1;
    }
        
    .characteristics {
        order: 2;
    }
        
    .characteristics__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
        
    .description {
        order: 3;
        align-self: stretch;
        font-size: 14px;
    }
        
    .description__title {
        font-weight: 700;
        padding-bottom: 15px;
    }
        
    .description__paragrapf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        top: 509px;
        font-weight: 500;
    }
}
