@media (min-width: 1500px) and (max-width: 8000px) {

    .compare-sheet{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-bottom: 50px;
        order: 4;
        flex-grow: 0;
    }

    .compare-sheet__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 700;
        gap: 15px;
        order: 0;
    }

    .compare-sheet__table {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border: 1px solid #888888;
        border-collapse: collapse;
        order: 1;
        font-size: 16px;
        line-height: 19px;
    }

    .compare-sheet__table th {
        font-weight: bold;
        padding: 10px;
        border: 1px solid #888888;

    }
    .compare-sheet__table td {
        padding: 10px;
        border-left: 1px solid #888888;
        border-right: 1px solid #888888;
    }

    tr:hover{
        background: #F2F2F2;
    }
}


@media (min-width: 0px) and (max-width: 1499px) {
    .compare-sheet{
        display: none;
    }
}