@media (min-width: 1024px) and (max-width: 8000px) {

    .itemcolor {
        width: 530px;
        height: 114px;
        order: 0;
    }

    .itemcolor__title {
        font-weight: 700;
        font-size: 16px;
    }

    .itemcolor__choose{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 15px;
        gap: 10px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .itemcolor {
        width: 340px;
        height: 128px;
        order: 0;
    }

    .itemcolor__title {
        font-weight: 700;
        font-size: 14px;
    }

    .itemcolor__choose{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 15px;
        gap: 10px;
    }
}