@media (min-width: 1500px) and (max-width: 8000px) {

    .reviewlist__rewiewD{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding-bottom: 40px;
        width: 880px;
    }

    .reviewlist__rewiewM{
        display: none;
    }

    .reviewlist__photo{
        width: 140px;
        height: 140px;
        border-radius: 100px;
        order: 0;
    }
    
    .reviewlist__comment{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        order: 1;
    }

    .reviewlist__comment-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .reviewlist__comment-rating{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .reviewlist__comment-ratingstar{
        width: 30px;
        height: 30px;
    }

    .reviewlist__rewiew-title{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        gap: 10px;
    }

    .reviewlist__rewiew-text{
        font-weight: 400;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .reviewlist__rewiewD{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding-bottom: 40px;
        width: 594px;
    }

    .reviewlist__rewiewM{
        display: none;
    }

    .reviewlist__photo{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        order: 0;
    }
    
    .reviewlist__comment{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        order: 1;
    }

    .reviewlist__comment-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .reviewlist__comment-rating{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .reviewlist__comment-ratingstar{
        position: relative;
        width: 20px;
        height: 20px;
    }

    .reviewlist__rewiew-title{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        gap: 10px;
    }

    .reviewlist__rewiew-text{
        font-weight: 400;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {


    .reviewlist__rewiewD{
        display: none;
    }

    .reviewlist__rewiewM{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-bottom: 30px;
        width: 335px;
    }

    .reviewlist__photo{
        width: 60px;
        height: 60px;
        border-radius: 100px;
        order: 0;
    }
    
    .reviewlist__comment{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        order: 1;
    }

    .reviewlist__comment-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        order:0;
    }

    .reviewlist__comment-rating{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .reviewlist__comment-ratingstar{
        width: 20px;
        height: 20px;
        order:2
    }

    .reviewlist__rewiew-title{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        gap: 10px;
        order: 2;
    }

    .reviewlist__rewiew-text{
        font-weight: 400;
    }

}