@media (min-width: 1500px) and (max-width: 8000px) {
  
    .pagetitle {
        width: 1389px;
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 30px;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        gap: 10px;
    }

    .pagetitle__text {
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 20px;
        order: 0;
    }
    
    .iphone-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        order: 1;
    }
    
    .iphone-preview__img {
        height: 387px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
  
    .pagetitle {
        width: 994px;
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 30px;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        gap: 10px;
    }

    .pagetitle__text {
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 20px;
        order: 0;
    }
    
    .iphone-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        order: 1;
    }
    
    .iphone-preview__img {
        height: 272px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
  
    .pagetitle {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        gap: 10px;
    }

    .pagetitle__text {
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 10px;
        order: 0;
    }
    
    .iphone-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        order: 1;
        padding: 0px;

        width: 355px;
        height: 272px;
    }
    
    .iphone-preview__img {
        height: 272px;
    }

    .hide {
        display: none;
    }
}

