@media (min-width: 1024px) and (max-width: 8000px) {

    .itemcolor__img {
        height: 60px; 
    }

    .itemcolor__choosecolor {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 80px;
        height: 80px;
        border: 1px solid #888888;
        background: #ffffff;
        color: #000000;
        border-radius: 4px;
        flex: none;
    }

    .itemcolor__choosecolor:hover {
        background: #f2f2f2;
    }

    .itemcolor__choosecolor:active {
        border: 2px solid #A93A09;
        background: #f2f2f2;
    }

    .itemcolor__chosenColor {
        border: 2px solid #F36223;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {

    .itemcolor__img {
        width: 25.77px;
        height: 50px;
    }

    .itemcolor__choosecolor {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding-right: 10;
        width: 60px;
        height: 60px;
        border: 1px solid #888888;
        background: #ffffff;
        color: #000000;
        border-radius: 4px;
        flex: none;
    }

    .itemcolor__choosecolor:hover {
        background: #f2f2f2;
    }

    .itemcolor__choosecolor:active {
        border: 2px solid #A93A09;
        background: #f2f2f2;
    }

    .itemcolor__chosenColor {
        border: 2px solid #F36223;
    }
}