@media (min-width: 1500px) and (max-width: 8000px) {

    .advertising__list-frame{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 420px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
        order: 0;
    }

    iframe {
        border: none;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .advertising__list-frame{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 360px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;
        order: 0;
    }

    iframe {
        border: none;
    }
}