@media (min-width: 1500px) and (max-width: 8000px) {

html {
    max-width: 1500px;
    min-width: 1440px;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
	margin:auto;
    width: 100%;
    height: 100%;
}

body {
    margin:auto;
    display: flex;  
    flex-direction: column;
    align-items: center;

}

a {
    color: #018ad2;
    text-decoration-line:none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

button {
    padding: 8px 12px;
}

iframe {
    border: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    gap: 10px;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid #010541;
    background-color: white;    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin:auto;
    gap: 10px;
    width: 1389px;
    height: 80px;
    order: 0;
    position: sticky;
    background-color: white;  
}

.header__cart {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 994px;
    width: 32px;
    height: 32px;
    order: 3;
}

.header__cart-counter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    width: 14px;
    height: 14px;
    left: 27px;
    order: 4;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.header__cart-orangeRound {
    width: 20px;
    position: absolute;
    top: -2px;
    left: 24px;
    display: none;  
}

.header__icon {
    order: 0;
    top: -8px;
}

.header__title {
    top: 20px;
    height: 40px;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    order: 1;
}

.bread-crumbs {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    order: 0;
}

.pagetitle {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 30px;
    gap: 10px;
}

.pagetitle__text {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 20px;
    order: 0;
}

.iphone-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    order: 1;
}

.iphone-preview__img {
    height: 387px;
}

.characteristics-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    width: 1400px;
}

.characteristics-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 880px;
    order: 0;
}

.itemcolor {
    width: 530px;
    height: 114px;
    order: 0;
}

.itemcolor__title{
    font-weight: 700;
    font-size: 16px;
}

.itemcolor__choose{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
}

label.itemcolor__choosecolor input {
    display: none;
}

label.itemcolor__choosecolor:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    background: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
    flex: none;
    opacity: 3;
}

label.itemcolor__choosecolor:active {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid #A93A09;
    border-radius: 4px;
    flex: none;
    opacity: 3;
}

label.itemcolor__choosecolor input:checked+div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid #F36223;
    border-radius: 4px;
    flex: none;
    order: 1;
    opacity: 2;
}

label.itemcolor__choosecolor input:not(checked)+div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    flex: none;
    order: 0;
    opacity: 1;
}

.memory{ 
    order: 1;
}

.memory__title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

label.memorybutton input {
    display: none;
}
 
label.memorybutton:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 10px;
    width: 92px;
    height: 41px;
    background: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
    opacity: 3;
    flex: none;
    order: 0;
}

label.memorybutton:active {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 10px;
    width: 92px;
    height: 41px;
    border: 2px solid #A93A09;
    border-radius: 4px;
    opacity: 3;
    flex: none;
    order: 0;
}

label.memorybutton input:checked+div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 92px;
    height: 41px;
    border: 2px solid #F36223;
    border-radius: 4px;
    opacity: 2;
    flex: none;
    order: 0;
}

label.memorybutton:not(checked)+div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 92px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    opacity: 1;
    flex: none;
    order: 0;
}

.memory__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 298px;
    height: 39px;
    top: 178px;
} 

.memory__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 92px;
    border: 1px solid #888888;
    border-radius: 4px;
    order: 0;
}

.memory__buttontext {
    width: 54px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    order: 0;
}

.characteristics {
    order: 2;
}

.characteristics__title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.characteristics__list {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.characteristics__list-mark {
    padding-left: 10px;   
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
}

ul {
    padding: 0px;
    gap: 10px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

li::before {
    content: "●";
    width: 10px;
    height: 10px;
    color: #888888;
    order: 0;
    gap: 10px;
}

.description {
    order: 3;
    align-self: stretch;
    font-size: 16px;
}

.description__title {
    font-weight: 700;
    padding-bottom: 15px;
}

.description__paragrapf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    top: 509px;
    font-weight: 500;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 420px;
    height: 957px;
    order: 1;
}

.important {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
    font-weight: 500;
    font-size: 16px;
}

.important__price-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    height: 73px;
    width: 380px;
    flex: none;
    order: 0;
}

.important__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 132px;
    height: 73px;
    flex: none;
    order: 0;
}

.important__heart-icon {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 30px;
    height: 30px;
    background-image: url(../resources/heartVector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    order: 1;
    opacity: 1;
}

.important__heart-icon:hover {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 30px;
    height: 30px;
    background-image: url(../resources/heartVectorhover.svg);
    background-size: contain;
    background-repeat: no-repeat;
    order: 1;
}


.important__heart-icon:active {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 30px;
    height: 30px;
    background-image: url(../resources/heartVectorclick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    order: 1;
}

.important__price-old{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #888888;
}

.important__price-sale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
}

.important__price-new {
    font-family: 'Inter';
    font-size: 32px;
}

.important__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 380px;
    height: 68px;
    font-weight: 400;
    order: 1;
}

.important__button {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    order: 2;
}

.important__button:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.important__button:active {
    background: #A93A09;
    border-radius: 4px;
}

.advertising {
    display: flex;
    flex-direction: column;
    order: 1;
}

.advertising__text {
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    order: 0;
}

.important__button-text::before {
    align-items: center;
    width: 24px;
    height: 24px;
    content: url(../resources/cartVector.svg);
    padding-right: 17px; 
}

.advertising__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    order: 1;
}

.advertising__list-frame{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    order: 0;
}

.container-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 880px;
    height: 584px;
}

.reviewheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 880px;
    height: 39px;
    order: 0;
    align-self: stretch;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    flex-grow: 0;
}

.reviewheader__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 155px;
    height: 29px;
    order: 0;
    flex-grow: 0;
}

.reviewheader__text1 {
    order: 0;
}

.reviewheader__textcount {
    color: #888888;
    order: 1;
}

.reviewbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    width: 177px;
    height: 39px;
    background: #F36223;
    border-radius: 4px;
    order: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.reviewbutton:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.reviewbutton:active {
    background: #A93A09;
    border-radius: 4px;
}

.reviewlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    order: 1;
}

.reviewlist__rewiew {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: 880px;
}

.reviewlist__photo{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    order: 0;
}

.reviewlist__comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    order: 1;
}

.reviewlist__comment-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    order: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.reviewlist__comment-rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.reviewlist__comment-ratingstar {
    width: 30px;
    height: 30px;
}

.reviewlist__rewiew-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 1;
    font-size: 14px;
    line-height: 17px;
}

.reviewlist__rewiew1 {
    order: 0;
}

.reviewlist__rewiew2 {
    order: 2;
}

.line-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 880px;
    height: 1px;
    flex: none;
    flex-grow: 0;
    order: 1;
}

.linebetween {
    align-items: flex-start;
    margin-left: 170px;
    width: 710px;
    border: 1px dashed #888888;

}

.compare-sheet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 50px;
    order: 4;
    flex-grow: 0;
}

.compare-sheet__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    gap: 15px;
    order: 0;
}

.compare-sheet__table {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #888888;
    border-collapse: collapse;
    order: 1;
    font-size: 16px;
    line-height: 19px;
}

.compare-sheet__table th {
	font-weight: bold;
	padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}
.compare-sheet__table td {
	border: 1px solid #dddddd;
	padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #F2F2F2;
    order: 2;
    width: 100vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 111px;
    padding-left: 50px;
    padding-right: 50px;
    align-self: stretch;

}

.footer__copyright {
    height: 51px;
    font-size: 14px;
    line-height: 17px;
    flex: none;
    order: 0;
}

.footer__up-link {
    height: 19px;
    font-weight: 400;
    order: 1;
}

.new-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    margin-top: 60px;
    margin-bottom: 100px;
    gap: 15px;
    width: 880px;
    height: 372px;
    left: 50px;
    top: 2402px;
}

.new-review__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    order: 0;
}

.new-review__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    padding: 0px;
    gap: 30px;
    width: 710px;
    height: 338px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.new-review__name-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    width: 495px;
    height: 49px;
    border: 1px solid #888888;
    order: 0;
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

.new-review__rating-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    width: 175px;
    height: 49px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    order: 1;
}

.new-review__inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    width: 710px;
    height: 49px;
    flex: none;
    order: 0;
    align-self: stretch;
}

.new-review__textarea{
    width: 710px;
    height: 190px;
    order: 1;
    align-self: stretch;
}

.new-review__text-message {
    resize: none;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 710px;
    height: 190px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

fieldset {
    border: none;
 }

.inputErrors {
    padding: 8px 20px;
    background: #DA4A0C;
    font-size: 12px;
    color: white;
    line-height: 18px;
    visibility: hidden;
}

.error-rating-input {
    padding: 8px 10px;
    font-size: 10px;

}
    

}
