@media (min-width: 1024px) and (max-width: 8000px) {
        
    .header__wishlist {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 50px;
        height: 50px;
        order: 0;
    }

    .header__wishlist-svg{
        width: 50px;
        height: 50px;
    }

    .wishlist__gotItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: #F36223;
        color: #FFFFFF;
        position: relative;
        text-align: center;
        height: 20px;
        width: 20px;
        font-size: 14px;
        padding: 0 6px;
        margin-left: -10px;
        margin-top: -4px;
    }

    .wishlist__noItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #FFFFFF;
        position: relative;
        text-align: center;
        height: 20px;
        width: 20px;
        font-size: 14px;
        padding: 0 6px;
        margin-left: -10px;
        margin-top: -4px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
        
    .header__wishlist {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 30px;
        height: 30px;
        order: 0;
    }

    .header__wishlist-svg{
        height: 23px;
        width: 25px;
        margin-top: 6px;
    }

    .wishlist__gotItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: #F36223;
        color: #FFFFFF;
        position: relative;
        text-align: center;
        height: 10px;
        width: 10px;
        font-size: 14px;
        margin-left: -10px;
        margin-top: 4px;
    }

    .wishlist__noItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #FFFFFF;
        position: relative;
        text-align: center;
        height: 10px;
        width: 10px;
        font-size: 0px;
        padding: 0px;
        margin-left: -10px;
        margin-top: 4px;
    }
}