@media (min-width: 1024px) and (max-width: 8000px) {

.advertising {
    display: flex;
    flex-direction: column;
    order: 1;
}

.advertising__text {
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    order: 0;
}

.advertising__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    order: 1;
}
}

@media (min-width: 0px) and (max-width: 1023px) {
    .advertising {
        display: none;
    }
}