@media (min-width: 1024px) and (max-width: 8000px) {

    .important__heart-icon {
        display: flex;
        flex-direction: row;
        align-items: right;
        width: 30px;
        height: 30px;
        order: 2;
    }

    .heart1 {
        content: url(../../../../../public/heartVector.svg);
        width: 30px;
        height: 30px;
    }

    .heart1:hover{
        content:url(../../../../../public/heartVectorhover.svg)
    }

    .heart1:active{
        content:url(../../../../../public/heartVectorclick.svg)
    }

    .heart2:active{
        content:url(../../../../../public/heartVectorclick.svg)
        
    }

    .heart2 {
        content: url(../../../../../public/heartVectorhover.svg);
        width: 30px;
        height: 30px;
    }

    .heartbody{
        background-image: url(../../../../../public/heartVectorbody.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 40% ;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    
    .important__heart-icon {
        display: flex;
        flex-direction: row;
        align-items: right;
        width: 30px;
        height: 30px;
        order: 2;
    }

    .heart1 {
        content: url(../../../../../public/heartVector.svg);
        width: 30px;
        height: 30px;
    }

    .heart1:active{
        content:url(../../../../../public/heartVectorclick.svg)

    }

    .heart2:active{
        content:url(../../../../../public/heartVectorclick.svg)
        
    }

    .heart2 {
        content: url(../../../../../public/heartVectorhover.svg);
        width: 30px;
        height: 30px;
    }

    .heartbody{
        background-image: url(../../../../../public/heartVectorbody.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 40% ;
    }
}