@media (min-width: 0px) and (max-width: 8000px) {

    .memory__chooseConfig{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92px;
        height: 39px;
        border: 1px solid #888888;
        border-radius: 4px;
        order: 0;
    }

    .memory__chooseConfig:hover {
        background: #f2f2f2;
    }

    .memory__chooseConfig:active {
        border: 2px solid #A93A09;
        background: #f2f2f2;
    }

    .memory__chosenConfig{
        border: 2px solid #F36223;
    }

    .memory__configs{
        width: 54px;
        height: 19px;
        font-weight: 500;
        font-size: 16px;
        order: 0;    
    }
}